body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Helvetica, serif;
  color: #fff;
  user-select: none;
  touch-action: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.bg {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: radial-gradient(#367a42, #115c38);
}
.title {
  margin-top: 2.5%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #449953;
}
.container {
  width: 95%;
  margin-bottom: 2%;
}
.card__list {
  display: flex;
  flex-wrap: wrap;
}
.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.card__item:focus .card__title,
.card__item:active .card__title {
  background-image: linear-gradient(to top, #347140, #249351);
}
.card__image {
  position: absolute;
  width: 100%;
}
.card__title {
  position: relative;
  margin-top: auto;
  padding-top: 1.5vmin;
  padding-bottom: 1.5vmin;
  font-weight: 100;
  line-height: 1;
  background-image: linear-gradient(to bottom, #347140, #249351);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%, 10% 0);
}
.popup {
  position: fixed;
  display: flex;
  text-align: center;
  background-image: radial-gradient(#367a42, #115c38);
  border: 2px solid #449953;
  border-radius: 15px;
  transform: scale(0);
}
.popup--open {
  transition: transform 0.33s ease-in-out;
  transform: scale(1);
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline-color: #449953;
}
.popup__close:active {
  transform: scale(0.9);
}
.popup__close-inner {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border: 2px solid #449953;
  border-radius: 50%;
}
.popup__close:before,
.popup__close:after {
  content: '';
  position: absolute;
  top: calc((100% - 2px)/2);
  left: 30%;
  width: 40%;
  height: 2px;
  background-color: #449953;
}
.popup__close:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.popup__close:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
.popup__image {
  position: relative;
}
.popup__title {
  font-weight: 400;
  color: #449953;
}
.popup__desc {
  font-weight: 100;
  font-style: italic;
  line-height: 1;
}
.preload {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  background-image: radial-gradient(#367a42, #115c38);
}
.preload__inner {
  width: 80%;
}
.preload__dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: loading 1s infinite both;
}
.preload__dot:nth-of-type(3) {
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}
.preload__dot:nth-of-type(2) {
  -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
}
@media screen and (orientation: portrait) {
  .title {
    font-size: 5.5vmin;
  }
  .subtitle {
    font-size: 3vmin;
  }
  .container {
    height: 82%;
  }
  .card__item {
    width: 50%;
  }
  .card__image {
    top: 5%;
    height: 90%;
  }
  .card__title {
    width: 60%;
    font-size: 3.5vmin;
  }
  .popup {
    top: 1.5%;
    left: 2.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 97%;
  }
  .popup__close {
    width: 10vh;
    height: 10vh;
  }
  .popup__image {
    width: 100%;
    height: 50%;
  }
  .popup__title {
    font-size: 12vmin;
  }
  .popup__desc {
    width: 90%;
    font-size: 7vmin;
  }
}
@media screen and (orientation: landscape) {
  .title {
    font-size: 7vmin;
  }
  .subtitle {
    font-size: 3.8vmin;
  }
  .container {
    height: 70%;
  }
  .card__item {
    width: 20%;
  }
  .card__image {
    height: 70%;
  }
  .card__title {
    width: 90%;
    font-size: 3vmin;
  }
  .popup {
    top: 2.5%;
    left: 1.5%;
    align-items: center;
    width: 97%;
    height: 95%;
  }
  .popup__close {
    width: 15vh;
    height: 15vh;
  }
  .popup__image {
    flex-grow: 1;
    flex-shrink: 0;
    width: 60%;
    height: 100%;
  }
  .popup__title {
    flex-grow: 1;
    flex-shrink: 0;
    width: 40%;
    margin-top: -20%;
    margin-right: 9.5%;
    font-size: 7vmin;
  }
  .popup__desc {
    flex-grow: 1;
    flex-shrink: 0;
    width: 40%;
    margin-top: 20%;
    margin-left: -50%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 5vmin;
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
