@mainColor: #449953;
@bg: radial-gradient(#367a42, #115c38);
@i: 2;
body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Helvetica, serif;
  color: #fff;
  user-select: none;
  touch-action: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.bg {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: @bg;
}
.title {
  margin-top: 2.5%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: @mainColor;
}
.container {
  width: 95%;
  margin-bottom: 2%;
}
.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    outline: none;
    &:focus,
    &:active {
      .card__title {
        background-image: linear-gradient(to top, desaturate(#30753d, 5%), saturate(#298e52, 5%));
      }
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    pointer-events: none;
  }
  &__title {
    position: relative;
    margin-top: auto;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    font-weight: 100;
    line-height: 1;
    background-image: linear-gradient(to bottom, desaturate(#30753d, 5%), saturate(#298e52, 5%));
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%, 10% 0);
    pointer-events: none;
  }
}
.popup {
  position: fixed;
  display: flex;
  text-align: center;
  background-image: @bg;
  border: 2px solid @mainColor;
  border-radius: 15px;
  transform: scale(0);
  &.--open {
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline-color: @mainColor;
    &:active {
      transform: scale(0.9);
    }
    &-inner {
      position: absolute;
      top: 15%;
      left: 15%;
      width: 70%;
      height: 70%;
      border: 2px solid @mainColor;
      border-radius: 50%;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: calc((100% - 2px)/2);
      left: 30%;
      width: 40%;
      height: 2px;
      background-color: @mainColor;
    }
    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
  &__image {
    position: relative;
  }
  &__title {
    font-weight: 400;
    color: @mainColor;
  }
  &__desc {
    font-weight: 100;
    font-style: italic;
    line-height: 1;
  }
}
.preload {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  background-image: @bg;
  &__inner {
    width: 80%;
  }
  &__dot {
    display: inline-block;
    width: 5vmin;
    height: 5vmin;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: loading 1s infinite both;
    &:not(:last-of-type) {
      margin-right: 5vmin;
    }
    .loop (@i) when (4 > @i) {
      .loop(@i + 1);
      @n: @i - 1;
      &:nth-of-type(@{i}) {
        -webkit-animation-delay: unit((0.33 * @n), s);
        animation-delay: unit((0.33 * @n), s);
      }
    }
    .loop(@i);
  }
}

.language {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-self: flex-start;
  font-size: 5.5vmin;
  border-radius: 5px;
  border: 1px solid #fff;
  transform: translate3d(calc(-100% + 10vmin + 1px), 0, 0);
  transition: transform .5s ease-in-out;
  &.--open {
    transform: translate3d(0, 0, 0);
  }
  &__list {
    display: flex;
    align-items: stretch;
  }
  &__item {
    padding: 0 10px;
    line-height: 1.7;
    cursor: pointer;
    user-select: none;
    &:first-of-type {
      border-right: 1px solid #fff;
      background-color: @mainColor;
    }
  }
  button {
    position: relative;
    width: 10vmin;
    height: 10vmin;
    background-color: transparent;
    border: none;
    border-left: 1px solid #fff;
  }
  .icon {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 0.2vmin solid #fff;
    border-radius: 50%;
    background-image: repeating-linear-gradient(
            180deg,
            transparent,
            transparent 24%,
            #fff 24%,
            #fff 26%
    );

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      margin-left: -0.1vmin;
      height: 100%;
    }

    &:after {
      left: 50%;
      width: 0;
      border: 0.1vmin solid #fff;
    }
    &:before {
      left: 25%;
      width: 50%;
      border: 0.2vmin solid #fff;
      border-radius: 50%;
    }
  }
  input {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .title {
    font-size: 5.5vmin;
  }
  .subtitle {
    font-size: 3vmin;
  }
  .container {
    height: 82%;
  }
  .card {
    &__item {
      width: 50%;
    }
    &__image {
      top: 5%;
      height: 90%;
    }
    &__title {
      width: 60%;
      font-size: 3.5vmin;
    }
  }
  .popup {
    top: 1.5%;
    left: 2.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 97%;
    &__close {
      width: 10vh;
      height: 10vh;
    }
    &__image {
      width: 100%;
      height: 50%;
    }
    &__title {
      font-size: 12vmin;
    }
    &__desc {
      width: 90%;
      font-size: 7vmin;
    }
  }
}
@media screen and (orientation: landscape) {
  .title {
    font-size: 7vmin;
  }
  .subtitle {
    font-size: 3.8vmin;
  }
  .container {
    height: 70%;
  }
  .card {
    &__item {
      width: 20%;
    }
    &__image {
      height: 70%;
    }
    &__title {
      width: 90%;
      font-size: 3vmin;
    }
  }
  .popup {
    top: 2.5%;
    left: 1.5%;
    align-items: center;
    width: 97%;
    height: 95%;
    &__close {
      width: 15vh;
      height: 15vh;
    }
    &__image {
      flex-grow: 1;
      flex-shrink: 0;
      width: 60%;
      height: 100%;
    }
    &__title {
      flex-grow: 1;
      flex-shrink: 0;
      width: 40%;
      margin-top: -20%;
      margin-right: 9.5%;
      font-size: 7vmin;
    }
    &__desc {
      flex-grow: 1;
      flex-shrink: 0;
      width: 40%;
      margin-top: 20%;
      margin-left: -50%;
      padding-right: 5%;
      padding-left: 5%;
      font-size: 5vmin;
    }
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
